<html>
<head>
    <meta charset="UTF-8">
    <title>Виды животных</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
</head>
<body>
<div class="header">
    <div class="header-link">
        <a href="farmers.html" >Фермеры</a>
    </div>
    <div class="header-link">
        <a href="animals.html">Животные</a>
    </div>
    <div class="header-link current-link">
        <a href="animalTypes.html">Виды животных</a>
    </div>
</div>
<div id="content">
    <div class="table-wrapper">
        <table>
            <thead>
            <tr>
                <td class="id-column">Id</td>
                <td>Вид</td>
                <td class="delete-button">Удаление</td>
            </tr>
            </thead>
            <tbody>
            <tr v-for="animalType in animalTypes">
                <td>{{animalType.id}}</td>
                <td>{{animalType.name}}</td>
                <td class="delete-button">
                    <img class="del-img" src="delete.png" width="16px" height="16px" @click="deleteAnimalType(animalType)">
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="creation">
        <div class="creation-form">
            <div class="input-form">
                <label for="name">Название</label>
                <input id="name" type="text" v-model="name">
            </div>
            <div class="input-form">
                <button style="margin: auto" @click="addAnimalType">Добавить вид животного</button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var SERVER_ERROR_MESSAGE = "Server error";
    var vue = new Vue({
        el: "#content",
        data:{
            addApi: Vue.resource('../add/animalType'),
            deleteApi: Vue.resource('../delete/animalType'),
            animalTypesApi: Vue.resource('../animalTypes'),
            animalTypes: [],
            name: ""
        },
        methods:{
            addAnimalType: function () {
                if (this.name === ""){
                    alert("Fill name");
                    return;
                }
                this.addApi
                    .get({name: this.name})
                    .then(
                        response => {
                            if (response.status !== 200) {
                                alert(SERVER_ERROR_MESSAGE);
                                return;
                            }
                            let serverResponse = response.body;
                            if (serverResponse.success === true) {
                                let animalType = JSON.parse(serverResponse.message);
                                this.animalTypes.push(animalType);
                            }else{
                                alert(serverResponse.message)
                            }
                        },
                        errorResponse => {
                            alert(SERVER_ERROR_MESSAGE);
                        },
                );
            },
            deleteAnimalType: function (animalType) {
                this.deleteApi
                    .get({id: animalType.id})
                    .then(
                        response => {
                            if (response.status !== 200) {
                                alert(SERVER_ERROR_MESSAGE);
                                return;
                            }
                            let serverResponse = response.body;
                            if (serverResponse.success === false) {
                                alert(serverResponse.message)
                            }else {
                                let index = this.animalTypes.indexOf(animalType);
                                this.animalTypes.splice(index, 1);
                            }
                        },
                        errorResponse => {
                            alert(SERVER_ERROR_MESSAGE);
                        },
                    );
            }

        },
        beforeMount: function () {
            this.animalTypesApi
                .get()
                .then(
                    response => {
                        console.log(response);
                        if (response.status !== 200) {
                            alert(SERVER_ERROR_MESSAGE);
                            return;
                        }
                        this.animalTypes = response.body;
                    },
                    errorResponse => {
                        alert(SERVER_ERROR_MESSAGE);
                    },
                );
        }
    });


</script>
</body>
</html>